{% extends 'dogtracks/template.html' %}
{% load static %}

{% block content %}
<div class="container">
	<form action = "#" method="post">
		{% csrf_token %}
		
		{% for field in form %}
			{% if field.name == 'photo' %}
			
			<div class="file is-boxed">
				<label class="file-label">
					<input class="file-input" type="file" name="photo" />
					<span class="file-cta">
						<span class="file-icon">
							📷
						</span>
						<span class="file-label">
							Upload their profile pic
						</span>
					</span> <!-- End CTA -->
				</label>
			</div>

			{% else %}
			<div class="field">
				<label class="label">{{ field.label_tag }}</label>
				<div class="control">
					<input class="input is-primary" type="text" name="{{ field.name }}">
				</div>
			</div>

			{% endif %}
		{% endfor %}

		<br>
		
		<div class="field">
			<div class="control">
				<input class="button" type="submit" value="Log In">
			</div>
		</div>
	</form>
</div>
{% endblock %}