{% extends "dogtracks/template.html" %}
{% load static %}

{% block content %}

<div class="tile is-ancestor"> <!-- Wraps all other tiles -->
	<div class="tile is-4 is-parent is-vertical"> <!-- pets column -->
		<div class="columns is-vcentered">
			<div class="column is-10">
				<h1 class="title">My Pets</h1>
			</div>
			<div class="column">
				<a class="button is-outlined is-small" href="{% url 'add_pet' %}">Add pet</a>
			</div>
		</div>

		{% for pet in pets %}
		<div class="tile is-child box">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p><strong>{{ pet.name }}</strong></p>
						<br />
						<div class="columns is-vcentered">
							<div class="column is-9">
								<span class="tag is-info is-light">{{ pet.species }}</span>
								<span class="tag is-info is-light">{{ pet.breed }}</span>
							</div>
							<div class="column">
								<a class=" button is-text is-small" href="{% url 'update_pet' pet.id %}">
								Edit Info
								</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	{% endfor %}
	</div> <!-- end column -->

	<div class="tile is-parent is-vertical"> <!-- visits column -->
			<div class="columns is-vcentered">
				<div class="column is-10">
					<h1 class="title">My Visits</h1>
				</div>
				<div class="column">
					<a class="button is-outlined is-small" href="#">Schedule A Visit</a>
				</div>
			</div>

	{% for visit in visits %}
	<div class="tile is-child box">
			<div class="content">
				<span class="tag is-info is-large">{{ visit.id }}</span>
				<span class="tag">From {{ visit.start }}</span>
				<span class="tag">To {{ visit.end }}</span>
				<span class="tag">{{ visit.status }}</span>
			</div>
	</div>
	{% endfor %}

	</div>
</div>

{% endblock %}
