{% extends "dogtracks/template.html" %}
{% load static %}

{% block content %}

<div class="tile is-ancestor">
	<div class="tile is-4 is-parent is-vertical"> <!-- pets column -->
		<p class="title">My Pets</p>
		<a href="/dogtracks/add-pet">Add pet</a>

		{% for pet in pets %}
		<div class="card is-child">
			<div class="card-header">
				<div class="card-header-title">{{ pet.name }}</div>
			</div>
			<div class="card-image">
				<img src="{{ pet.photo }}" />
			</div>
			<div class="card-content">
				<div class="content">
					<span class="tag is-primary">{{ pet.species }}</span>
					<span class="tag is-primary">{{ pet.breed }}</span>
				</div>
			</div>
			<div class="card-footer">
				<a href="#" class="card-footer-item">Edit</a>
			</div>
		</div>
		{% endfor %}
	</div> <!-- end column -->

	<div class="tile is-parent"> <!-- visits column -->
		<p class="title">My Visits</p>
	</div>
</div>

{% endblock %}
