{% extends "dogtracks/template.html" %}

{% block content %}

	{% if message %}
	{{ message }}
	<br />
	{% endif %}
	<div class="container"> <!-- main div -->
		<br />
		<div class="box">
			<section class="section">
				<p>When you leave town, you want the best care for your pets. They
					prefer to stay in the place that they know
					best while you're away. Pet-sitters can help you keep your animals
					calm and happy, and you don't need to worry about picking up and 
					dropping off your pets to a kennel.</p>
				<hr />
				<p>Dogtracks allows you to <strong>create, add, delete, and view
					</strong>your pets and requst visits from a pet sitter. Once your request
					is submitted, the pet sitter will follow up with you.</p>
				<hr />
				<p>As a pet-sitter, you can
					<strong>manage info about pets, visits, and pet owners</strong>. You can also
					<strong>confirm, complete, or cancel</strong> a requested visit.</p>
			</section>
		</div>

		<form action="{% url 'login' %}" method='post' class="box">
			{% csrf_token %}
			<div class="field">
				<label class="label">Username</label>
				<div class="control">
					<input class="input is-primary" type="text" name="username" autofocus>
				</div>
			</div>

			<div class="field">
				<label class="label">Password</label>
				<div class="control">
					<input class="input is-primary" type="password" name="password">
				</div>
			</div>

			<div class="field">
				<div class="control">
					<input class="button" type="submit" value="Log In">
				</div>
			</div>
		</form>
	</div> <!-- end main container div -->
{% endblock %}