{% extends 'dogtracks/template.html' %}
{% load static %}


{% block content %}
<div class="container">

	<h1 class="title">{{ title }}</h1>

	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="field">
			<label class="label">{{ form.name.label }}</label>
			<div class="control">
				{{ form.name }}
			</div>
		</div>
		
		<div class="field">
			<label class="label">{{ form.breed.label }}</label>
			<div class="control">
				{{ form.breed }}
			</div>
		</div>

		<div class="field">
			<label class="label">{{ form.species.label }}</label>
			<div class="control">
				{{ form.species }}
			</div>
		</div>

		<div class="field">
			<label class="label">{{ form.birthday.label }}</label>
			<div class="control">
				{{ form.birthday }}
			</div>
		</div>

		<div class="field">
			<label class="label">{{ form.photo.label }}</label>
			<div class="control">
			{{ form.photo }}
			</div>
		</div>
		<br>
		
		<div class="field is-grouped">
			<div class="control">
				<input class="button is-primary" type="submit" value="Save changes" />
			</div>
			<div class="control">
				<button id="btn-cancel-changes" class="button is-primary is-light">
				Cancel
				</button>
			</div>
			{% if form.instance.id %}
				<div class="control" >
					<a class="button is-warning is-light is-link" href="/dogtracks/remove-pet/{{ form.instance.id }}">
					Remove Pet
					</a>
				</div>
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}