{% for visit in visits %}
<div class="box">
		<article class="media">
			<div class="media-left">
				<span class="tag is-info is-large">{{ visit.id }}</span>
			</div>
			<div class="media-content">
				<div class="content">
					<div class="columns is-vcentered">
						<div class="column">
							<span class="tag is-info is-light">{{ visit.start }}</span>
							<span>➡️</span>
							<span class="tag is-info is-light">{{ visit.end }}</span>
							<span class="tag is-info is-light">📅 {{ visit.visit_length }}</span>
							<br />
							<span class="tag">{{ visit.status }}</span>
						</div>
						<div class="column">
							<a class=" button is-text is-small" href="{% url 'update_visit' visit.id %}">
							Edit Info
							</a>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
{% endfor %}